USE [master]
GO
/****** Object:  Database [RazorPages]    Script Date: 8/25/2023 9:08:53 PM ******/
CREATE DATABASE [RazorPages]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RazorPages', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RazorPages.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RazorPages_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RazorPages_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RazorPages].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RazorPages]
GO
/****** Object:  User [Dat]    Script Date: 8/25/2023 9:08:53 PM ******/
CREATE USER [Dat] FOR LOGIN [Dat] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/25/2023 9:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 8/25/2023 9:08:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Salary] [bigint] NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Department] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230729214613_Initial Migration', N'7.0.9')
GO
INSERT [dbo].[Employees] ([Id], [Name], [Email], [Salary], [DateOfBirth], [Department]) VALUES (N'357bdac2-baa9-4de4-7c79-08db921e3966', N'Nguyễn Tiến Đạt', N'babywhite14121@gmail.com', 12500000, CAST(N'1999-12-14T00:00:00.0000000' AS DateTime2), N'IT')
INSERT [dbo].[Employees] ([Id], [Name], [Email], [Salary], [DateOfBirth], [Department]) VALUES (N'1629c38b-8af3-46d4-ea3d-08db9bd5ed12', N'Nguyễn Tấn Thành', N'nguyentanthanh295@gmail.com', 15000000, CAST(N'1999-01-05T00:00:00.0000000' AS DateTime2), N'Kế Toán')
INSERT [dbo].[Employees] ([Id], [Name], [Email], [Salary], [DateOfBirth], [Department]) VALUES (N'c01627dc-8db5-4fcb-44fc-08dba5748fc0', N'Nguyễn Minh A', N'nguyenminhat92@gmail.com', 15000000, CAST(N'2000-02-12T00:00:00.0000000' AS DateTime2), N'Kỹ sư phần mềm')
GO
USE [master]
GO
